.swal2-title {
    font-size: 16px !important;
    padding: 0 !important;
}
.swal2-actions {
    margin-top: 0 !important;
}
.swal2-styled {
    padding: 4px 12px !important;
}
.size-item {
    color: #000;
    border-style: solid;
    width: max-content;
    padding: 4px 13px;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-elevation8.MuiPopover-paper.css-hm2aps-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
        height: 160px;
        overflow-y: auto;
}
