main {
    padding: 1.5em 0;
}

.pl {
    display: block;
    overflow: visible;
    width: 5em;
    height: 5em;
}

.pl__ring {
    stroke: '#fff';
    transition: stroke 0.1s;
}

.pl__worm {
    stroke: hsl(223, 90%, 50%);
    transform-origin: 64px 64px;
    visibility: visible;
}

.pl__worm__moving {
    animation-name: worm;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

}

@keyframes worm {
    from {
        stroke-dasharray: 22 307.86 22;
        transform: rotate(0);
    }

    to {
        stroke-dasharray: 2 347.86 2;
        transform: rotate(1turn);
    }
}
